/*
Sources to my madness: 
1. https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme#declaring_color_scheme_preferences
2. https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing#sect1 (go to the first notes section)
*/

/*
WEBSITE GLOBAL CSS
*/
* {
  box-sizing: border-box; /*source 2. this saves a lot of headaches*/
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
}
:root {
  color-scheme: light dark; /*source 1. css sucks we need a better standard for this*/
}
@media (prefers-color-scheme: light) {
  :root {
    /*inverted*/
    --main-bg-color: rgb(255, 255, 255);
    --main-text-color: rgb(0, 0, 0);
    --navbar-bg-color: rgba(0, 0, 0, 0.5);
    --navbar-text-color: rgb(255, 255, 255);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
  --main-bg-color: rgb(49, 49, 49); /*default*/
  --main-text-color: rgb(255, 255, 255); /*default*/
  --navbar-bg-color: rgba(255, 255, 255, 0.5); /*default*/
  --navbar-text-color: rgb(0, 0, 0);
  }
}

/**
STUFF?
**/
header {
  display: flex;
  position: fixed; /*Remains at the same spot on the screen AND takes up space*/
  top: 0;
  z-index: 9;
  height: 3rem;
  transition: all 0.5s;
  width: 100%;
}

.primary-navbar {
  display: flex;
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  width: 100%;
  height: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.25rem);
  user-select: none;
}

.primary-navbar li {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
  transition: all 0.5s;
  margin: 0.5rem;
}
.primary-navbar li a {
  color: inherit;
  text-decoration: none;
}
.primary-navbar-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  top: 0;
}
.baruno, .bardos, .bartres {
  width: 10%;
  height: 10%;
  background-color: var(--main-text-color); /*text color..*/
  margin: 0.15rem 0;
}
.maincontent {
  display: flex;
  flex-direction: column;
  height: 10rem;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.secondarycontent {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}
.secondarycontent-divs {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 15rem;
  flex-direction: column;
  border: 0.25rem black solid;
  border-radius: 3rem;
}
.secondarycontent-divs .important-text {
  display: flex;
  font-size: x-large;
  margin: 0.67em;
  font-weight: bold;
}
.secondarycontent-divs-weird .important-text {
  display: flex;
  width: fit-content;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle, red,orange,rgb(255, 255, 0),rgb(0, 255, 0),rgb(70, 70, 255),rgb(255, 0, 255));
  background-clip: text;
  -webkit-background-clip: text;
}
/*
  media queries
*/
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
  .primary-navbar {
    border-radius: 0rem 0rem 1rem 1rem; 
  }
}